@media screen {
  @font-face{
    font-family:'Lato';
    font-style:normal;
    font-weight:400;
    src:local('Lato'), url('http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
  }
}

body, p, th, td {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
}

table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Lato, sans-serif;
}
table thead th {
  background-color: #58638f;
  border: solid 1px #DDEEEE;
  color: white;
  padding: 10px;
  text-align: left;
  /*text-shadow: 1px 1px 1px #000;*/
}
table tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  /*text-shadow: 1px 1px 1px #fff;*/
}
td.price {
  text-align: right;
}